html,
body,
#app {
  height: 100%;
  margin: 0;
  background-color: rgb(var(--v-theme-background));
  color: rgb(var(--v-theme-on-background));
  transition: background-color 0.3s ease, color 0.3s ease;
}